@import "common";
/*********--Home--***********/
.home {
  .main-visual {
    height: 100vh;
    display: flex;
    .left {
      padding: 0 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: $mainColor;
      position: relative;
      p {
        font-weight: 900;
        font-size: 5rem;
        color: $green;
      }
      @media screen and (max-width: 468px){
        p {
          font-size: 3rem;
        }
      }
    }
    @media screen and (max-width: 1024px){
      height: 50vh;
    }
  }
  .work-box {
    height: 100vh;
    position: relative;
    text-align: center;
    > div {
      max-width: 720px;
      height: 560px;
      margin: auto;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      overflow: hidden;
      box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
      > div {
        position: relative;
      }
      a {
        display: block;
        img {
          width: auto;
          max-height: 560px;
        }
      }
    }
    ul {
      height: 170px;
      margin: auto;
      position: absolute;
      top: 0;
      left: 20px;
      bottom: 0;
      text-align: left;
      z-index: 1;
      li:nth-child(2) {
        margin-top: 10px;
        padding-left: 45px;
        position: relative;
        color: $green;
        font-weight: bold;
      }
      li:nth-child(2):before {
        content: "";
        width: 25px;
        height: 2px;
        margin: auto;
        position: absolute;
        top: 0;
        left: 10px;
        bottom: 0;
        background-color: $green;
      }
      li:nth-child(3) {
        width: 250px;
        margin-top: 50px;
      }
    }
    p {
      margin-left: 50px;
      text-align: left;
      font-weight: 700;
    }
    @media screen and (max-width:1024px) {
      height: auto;
      margin-bottom: 120px;
      > div {
        width: 100%;
        height: auto;
        max-width: unset;
        position: relative;
        > div a {
          img {
            width: 100%;
            height: auto;
            max-height: unset;
          }
        }
      }
      > ul {
        position: unset;
        margin-top: 30px;
      }
      ul + div > a {
        width: 70%;
      }
      h2 {
        font-size: 4rem;
      }
    }
    @media screen and (max-width:768px){
      > div {
        height: auto;
        position: relative;
      }
      ul + div > a {
        width: 70%;
      }
      h2 {
        font-size: 4rem;
      }
    }
  }
}
/*********--about--***********/
.about {
    h2 {
        font-size: 4rem !important;
        font-weight: 400;
    }
    h3, dt {
        font-weight: 300;
    }
    dt {
        font-size: 3rem;
    }
    dd {
        font-size: 2rem;
        margin-bottom: 30px;
    }
    section {
        padding: 100px 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    section .container {
      div {
        display: flex;
        justify-content: space-between;
      }
      .right {
        width: 58.203125%;
        margin-top: 10px;
      }
    }
    @media screen and (max-width: 1024px){
        section {
          height: auto;
          padding: 50px 30px;
        }
    }
    @media screen and (max-width: 768px) {
      section {
        height: auto;
        padding: 50px 0;
        flex-direction: column;
        .right {
          width: 100%!important;
        }
      }
      section .container {
        div {
          flex-direction: column;
        }
      }
    }
  }
  .my-name {
      .left {
        width: 60%;
        .title-span + span {
          font-weight: 900;
          font-size: 5rem;
          color: $green;
          text-shadow: none;
        }
      }
      .right {
        width: 40%;
        margin-top: 0;
        position: relative;
        text-align: center;
      }
      @media screen and (max-width:1024px) {
        padding-top: 100px;
        display: block;
        .left {
          width: 100%;
        }
      }
      @media screen and (max-width:768px) {
        padding: 50px 30px;
        .right {
          margin-top: 30px;
        }
        .left {
          .title-span + span {
            margin-top: 10px;
            font-size: 3rem;
          }
        }
      }
    @media screen and (max-width:768px) {
      & {
        padding: 50px 20px !important;
      }
    }
  }
  .about-me,
  .skill {
    .container {
      div {
        margin-bottom: 50px;
      }
      .right dt {
        margin: 10px 0;
      }
      .right dd a {
        color: $green;
      }
      @media screen and (max-width: 768px){
        .right dd a {
          font-size: 1.6rem;
        }
      }
    }
  }
  .skill {
    background-color: $bgNavy;
    .right > ul {
      width: 400px;
      display: flex;
      justify-content: space-between;
    }
    .right ul li ul li:first-child {
      margin-bottom: 15px;
      line-height: 1.4;
    }
    .right ul li ul li {
      line-height: 1.8;
    }
    @media screen and (max-width: 768px){
      .right > ul {
        width: 100%;
        display: flex;
        flex-direction: column;
        > li {
          margin-bottom: 30px;
        }
      }
    }
  }
  /*********--works--***********/
.works {
    ul {
      margin-top: 100px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
    li {
      width: calc(50% - 30px);
      margin-bottom: 100px;
      position: relative;
      text-align: center;
      > div {
        position: relative;
        box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
      }
      h2 {
        margin-top: 20px;
      }
      p {
        color: $green;
      }
    }
    @media screen and (max-width:1024px) {
      li {
        width: calc(50% - 20px);
      }
      li:nth-child(odd) {
        margin-right: 20px; 
      }
    }
    @media screen and (max-width:768px) {
      li {
        width: 100%;
      }
      li:nth-child(odd) {
        margin-right: 0;
      }
    }
  }
/*********--work-detail--***********/  
.work-detail {
    @media screen and (max-width:468px){
        h1 {
          font-size: 3rem;
        }
    }
    .first-content {
        height: 100vh;
        position: relative;
        display: flex;
        align-items: center;
        overflow: hidden;
        h1 {
            position: absolute;
            left: 0;
            right: 0;
            text-align: center;
        }
        p {
            margin: 0 auto;
        }
      @media screen and (max-width: 1024px){
        height: auto;
      }
    }
    .second-content {
      padding: 150px 0;
      background-color: $bgNavy;
      .container {
          > ul {
            margin-bottom: 50px;
            display: flex;
            justify-content: space-between;
            flex-direction: row-reverse;
            li {
              font-size: 1.6rem;
            }
          }
          > ul > li:first-child {
            width: calc(80% - 20px);
            margin-left: 20px;
            line-height: 1.6;
          }
          > ul > li:last-child {
            margin-top: 7px;
            > ul > li {
              margin-bottom: 30px;
            }
            > ul > li:last-child {
              margin-top: 50px;
            }
            > ul > li > ul li{
              margin-bottom: 10px;
            }
          }
        @media screen and (max-width: 768px) {
          padding: 50px 30px;
          > ul {
            flex-direction: column;
            > li {
              margin-bottom: 30px;
            }
          }
          > ul > li:first-child {
            width: 100%;
            margin-left: 0;
          }
        }
        }
      @media screen and (max-width: 768px) {
        padding: 0;
      }
      }
  .third-content {
    > div {
      position: relative;
    }
  }
  .fourth-content {
    padding: 150px;
    background-color: $bgNavy;
    .scale-up {
      width: 0;
    }
    @media screen and (max-width: 1024px){
      padding: 50px 0;
    }
  }
  .next-project {
    position: relative;
    z-index: 1;
    text-align: right;
    h2 a {
      padding: 50px 80px 50px 0;
      display: block;
      transition: 0.5s;
      background-color: $green;
      &:hover {
        color: $green;
      }
    }
  }
  .all-project {
    padding: 150px 30px 100px;
    h2 {
      margin-bottom: 50px;
    }
    ul {
      display: grid;
      grid-template-columns: auto auto auto;
      grid-column-gap: 50px;
      grid-row-gap: 50px;
    }
    li {
      position: relative;
      box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    }
    @media screen and (max-width: 468px){
      padding: 100px 30px;
    }
  }
}

/*********--404--***********/
.error-page {
  height: 300px;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  text-align: center;
  p {
    font-size: 3rem;
  }
  h2 {
    margin: 10px 0 20px;
    font-size: 20rem;
  }
  ul {
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    li {
      margin-left: 20px;
      &:first-child {
        margin-left: 0;
      }
    }
  }
}
.error-page.open {
  display: block;
}