/*
 common.scss
*/
/*********--CommonParts--***********/
$mainColor:#1b2fce;
$btnColor:#0068E2;
$bgNavy:#151c65;
$fontGray:#707070;
$green:#15DB95;
body {
  background-color: $mainColor;
  word-break:break-all;
  overflow-x: hidden;
  font-weight: 200;
  letter-spacing: 0.2rem;
  color: $mainColor;
  line-height: 1;
}
h1,
h1 .sp-line-break,
.title-span {
  font-size: 6rem;
}
h2 {
  font-size: 5rem;
}
h3 {
  font-size: 3rem;
}
h4 {
  font-size: 2.5rem;
}
h1, h2, h3, h4, dt, .title-span, h1 .sp-line-break {
  font-weight: 900;
  text-shadow: 2px 2px rgba(19, 25, 99, 0.4196078431372549);
}
@media screen and (max-width: 1024px){
  h2 {
    font-size: 3.5rem!important;
  }
}
@media screen and (max-width: 468px){
  h1,
  h1 .sp-line-break{
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem!important;
  }
}
p,li {
  font-size: 1.8rem;
}
p {
  line-height: 1.6;
}
#root {
  overflow: hidden;
}
.hide {
  display: none;
}
.container {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: 0 30px;
}
.btn {
  max-width: 180px;
  width: 100%;
  padding: 10px 0;
  display: block;
  text-align: center;
  color: $green;
  font-size: 1.8rem;
  border: 1px solid $green;
  transition: .5s;
}
.btn:hover {
  background: $green;
  color: white;
  border: 2px solid $green;
}
.square-btn {
  position: relative;
  &::after {
    content: "";
    width: 10px;
    height: 10px;
    margin-left: 10px;
    background: $green;
    display: inline-block;
    position: absolute;
    right: -15px;
    transition: 0.5s;
    transform: rotateZ( 0deg );
  }
  &:hover:after {
    transform: rotateZ( 360deg );
  }
}
.line-break {
  display: block;
}
.coming-text {
  font-size: 1.6rem;
  color: $green;
  font-weight: bold;
}
#load-box {
  text-align: center;
  h2 {
    height: 30px;
    margin: auto;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}
.work-list {
  a {
    background: #0e0e10;
    display: flex;
    align-items: center;
    overflow: hidden;
    height: 450px;
  }
  .pop-up {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 1.5s;
    background: rgba(27, 47, 206, 0.61);
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
  }
  .pop-up:hover {
    opacity: 1;
  }
  .pop-up h3 {
    transition: 1.5s;
  }
  .pop-up:hover h3 {
    transform: scale(1.1);
  }
  @media screen and (max-width: 468px){
    a {
      height: 250px;
    }
  }
}
@media screen and (max-width: 768px) {
  .sp-line-break {
    display: block;
  }
} 
/* Navigation */
.button_container {
  width: 35px;
  height: 27px;
  margin: auto;
  position: fixed;
  top: 0;
  right: 2%;
  bottom: 0;
  cursor: pointer;
  z-index: 100;
  transition: opacity 0.25s ease;
}
.button_container:hover {
  opacity: 0.7;
}
.button_container.active {
  .top {
    -webkit-transform: translateY(11px) translateX(0) rotate(45deg);
    transform: translateY(11px) translateX(0) rotate(45deg);
    background: white;
  }
  .middle {
    opacity: 0;
    background: white;
  }
  .bottom {
    -webkit-transform: translateY(-11px) translateX(0) rotate(-45deg);
    transform: translateY(-11px) translateX(0) rotate(-45deg);
    background: white;
  }
} 

.button_container {
  span {
    background: white;
    border: none;
    height: 5px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.35s ease;
    cursor: pointer;
  }
  span:nth-of-type(2) {
    top: 11px;
  }
  span:nth-of-type(3) {
    top: 22px;
  }
}
.pop-up h3 {
  a {
    color: $green;
    border: 1px solid $green;
    padding: 20px 100px;
    transition: .5s;
    &:hover {
      background: $green;
      color: white;
    }
  }
}
.overlay {
  position: fixed;
  background: $bgNavy;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.35s, visibility 0.35s, height 0.35s;
  overflow: hidden;
  z-index: 99999;
  nav {
    position: relative;
    height: 70%;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    font-weight: 400;
    text-align: center;
  }
  nav > ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    display: inline-block;
    position: relative;
    height: 100%;
  }
  nav > ul > li {
    display: block;
    height: calc(100% / 3);
    min-height: 50px;
    position: relative;
    opacity: 0;
  }
  nav > ul > li > a {
    display: block;
    position: relative;
    color: white;
    text-decoration: none;
    overflow: hidden;
    font-size: 5.0rem;
  }
  nav > ul > li > a:hover:after, 
  nav > ul > li > a:focus:after, 
  nav > ul > li > a:active:after {
    width: 100%;
  }
  nav > ul > li > a:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    height: 3px;
    background: white;
    transition: 0.35s;
  }
  nav ul.sns {
    justify-content: space-between;
  }
}
.overlay.open {
  opacity: 0.9;
  visibility: visible;
  height: 100%;
  z-index: 2;
  li {
    -webkit-animation: fadeInRight 0.5s ease forwards;
    animation: fadeInRight 0.5s ease forwards;
    -webkit-animation-delay: 0.35s;
    animation-delay: 0.35s;
  }
  li:nth-of-type(2) {
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
  }
  li:nth-of-type(3) {
    -webkit-animation-delay: 0.45s;
    animation-delay: 0.45s;
  }
  li:nth-of-type(4) {
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
  }
}
@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 20%;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 20%;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}

/* SNS */
.sns {
  position: fixed;
  top: 0;
  right: 2%;
  z-index: 100;
}
.fa {
  width: 40px;
  padding: 10px 0px;
  font-size: 2.0rem;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 100%;
}
.fa-facebook {
  color: white;
}
.fa-linkedin {
  color: white;
}
.fa:hover {
  opacity: 0.7;
}
.load-overlay {
  width: 100%;
  height: 100%;
  margin-top: 0 !important;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
}
.delighter.started.load-overlay {
  visibility: hidden;
  transition-delay:5s;
}
