@import "../common/common.scss";
/*
 home.scss
*/
/*********--Home--***********/
.home {
  .main-visual {
    height: 100vh;
    display: flex;

    .left {
      width: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #1b2fce;
      position: relative;
    }

    .right {
      width: 50%;
      background-color: #ff000085;
    }
  }
  .work-box {
    position: relative;
    text-align: center;
    ul {
      position: absolute;
      top: 15px;
      left: 50px;
    }
    h2,
    li:first-child {
      font-weight: 900;
      font-size: 8rem;
    }
    li:last-child {
      text-align: left;
      font-size: 1.2rem;
    }
    span {
      display: block;
    }
    ul + div {
      width: 100%;
      position: relative;
    }
    ul + div > a {
      width: 50%;
      display: inline-block;
    }
    h2 {
      height: 100px;
      margin: auto;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
    img {
      box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    }
    p {
      position: absolute;
      left: 50px;
      bottom: 50px;
      font-weight: 700;
    }
    @media screen and (max-width:1024px) {
      h2 {
        font-size: 6rem;
      }
    }
    @media screen and (max-width:768px){
      ul + div > a {
        width: 70%;
      }
      h2 {
        font-size: 4rem;
      }
    }
    @media screen and (max-width:468px){
      ul {
        left: 20px;
      }
      ul + div > a {
        width: 90%;
      }
    }
  }
}
