/*
 home.scss
*/
/*********--Home--***********/
.home {
  .main-visual {
    height: 100vh;
    display: flex;
  }
  .main-visual .left {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1b2fce;
    position: relative;
  }
  .main-visual .right {
    width: 50%;
    background-color: #ff000085;
  }
  section + section > ul {
    position: relative;
  }
  section + section ul .color-box {
    width: 50%;
    height: 100vh;
    position: absolute;
    z-index: -1;
  }
  section + section > ul > li:nth-child(even) .color-box {
    right: 0;
    background-color: #DCB000;
  }
  section + section > ul > li:nth-child(odd) .color-box {
    left: 0;
    background-color: #00CCB3;
  }
  section + section > ul > li {
    height: 100vh;
    display: flex;
  }
  section + section > ul > li > ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  section + section > ul > li > ul > li {
    width: 100%;
  }
  section + section > ul > li > ul > li .btn {
    margin-top: 30px;
  }
  section + section > ul > li > ul > li:nth-child(2) {
    margin: 0 40px;
    text-align: center;
  }
  section + section > ul > li > ul > li img {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
}






