/*
 works.css
*/
/*********--works--***********/
.works > ul {
    display: flex;
    overflow-x: scroll;
}
.works > ul > li {
    width: 100%;
    min-width: 300px;
}
.works > ul > li a {
    display: block;
}
.works > ul > li a li {
    height: 50vh;
}
.works > ul > li:nth-child(even) li:first-child {
    background: url('/img/img-tm-works.png') no-repeat;
}
.works > ul > li:nth-child(odd) li:last-child {
    background: url('/img/img-tm-works.png') no-repeat;
}
.works > ul > li:nth-child(even) li:first-child,
.works > ul > li:nth-child(odd) li:last-child {
  background-size: cover;
}
.works > ul > li:nth-child(even) li,
.works > ul > li:nth-child(odd) li {
  position: relative;
}
.works > ul > li li h2 {
  -webkit-writing-mode: vertical-rl;
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  position: absolute;
  right: 20px;
  bottom: 20px;
  font-size: 4.4rem;
}
.works > ul > li li h2 span {
  padding-top: 40px;
  position: relative;
  display: block;
}
.works > ul > li li h2 span:before {
  content: '';
  width: 1px;
  height: 25px;
  display: block;
  position: absolute;
  top: 5px;
  left: 18px;
  background-color: #fff;
}
