/*
 works.scss
*/
/*********--works--***********/
.works {
  ul {
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
  }
  li {
    width: calc(25% - 20px);
    margin-right: 20px;
    margin-bottom: 100px;
  }
  li:last-child {
    margin-right: 0;
  }
  h2 {
    text-align: center;
    position: relative;
    z-index: 1;
  }
  a {
    margin-top: -35px;
    display: block;
  }
  @media screen and (max-width:1024px) {
    li {
      width: calc(50% - 20px);
    }
  }
}
