/*
 about.css
*/
/*********--about--***********/
.about {
  > ul {
    display: flex;
  }
  .left,
  .right{
    width: 50%;
    height:100vh;
    padding: 0 30px;
    display: flex;
    align-items: center;
  }
  .right {
    padding: 0 50px;
    overflow-y: scroll;
    background-color: #000067;
  }
  .left div {
    width: 60%;
    margin: 0 auto;
    text-align: center;
  }
  > ul > li > div h2 {
    margin-bottom: 20px;
  }
  > ul > li > div > ul {
    display: flex;
  }
  > ul > li > div > ul li:first-child {
    margin-right: 150px;
  }
  > ul > li > div > ul dl dt {
    margin: 50px 0 20px;
    font-size: 2.8rem;
  }
  > ul > li > div > ul dl dd {
    font-size: 1.8rem;
  }
}



