@import '../common/common';
/*
 work-detail.scss
*/
/*********--work-detail--***********/
.work-detail section {
  height: 100vh;
  > ul {
    display: flex;
  }
  > ul > li {
    width: 50%;
    padding: 50px;
  }
}
.work-detail .project-info {
  margin-bottom: 50px;
  display: flex;
  align-items: baseline;
  li {
    margin-right: 30px;
  }
  li:first-child {
    margin-right: 130px;
  }
  li:last-child {
    margin-right: 0;
  }
  dt {
    font-size: 1.8rem;
  }
  dd {
    font-size: 1.4rem;
  }
}
