@import "../common/common.scss";
/*********--Home--***********/
.home {
  .main-visual {
    height: 100vh;
    display: flex;
    .left {
      padding-left: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: $mainColor;
      position: relative;
      p {
        font-weight: 900;
        font-size: 7rem;
        color: rgba(19, 25, 99, 0.419608);;
      }
    }
  }
  .work-box {
    height: 100vh;
    position: relative;
    text-align: center;
    div {
      height: 560px;
      margin: auto;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      a {
        width: 50%;
        display: inline-block;
      }
    }
    ul {
      height: 4.8rem;
      margin: auto;
      position: absolute;
      top: 0;
      left: 20px;
      bottom: 0;
      text-align: left;
      z-index: 1;
    }
    img {
      box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    }
    p {
      margin-left: 50px;
      text-align: left;
      font-weight: 700;
    }
    @media screen and (max-width:1024px) {
      h2 {
        font-size: 6rem;
      }
    }
    @media screen and (max-width:768px){
      ul + div > a {
        width: 70%;
      }
      h2 {
        font-size: 4rem;
      }
    }
    @media screen and (max-width:468px){
      ul {
        left: 20px;
      }
      ul + div > a {
        width: 90%;
      }
    }
  }
}
/*********--about--***********/
.about {
    h2 {
        font-weight: 400;
    }
    h3, dt {
        font-weight: 300;
    }
    dt {
        font-size: 3rem;
    }
    dd {
        font-size: 2rem;
        margin-bottom: 30px;
    }
    section {
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    section .container {
      div {
        display: flex;
        justify-content: space-between;
      }
      .right {
        width: 58.203125%;
        margin-top: 20px;
      }
    }
  }
  .my-name {
      .left {
        width: 60%;
      }
      .right {
        width: 40%;
        margin-top: 0;
        text-align: center;
        img {
          width: auto;
        }
      }
      @media screen and (max-width:1024px) {
        padding-top: 100px;
        display: block;
        .left {
          width: 100%;
        }
      }
  }
  .about-me,
  .skill {
    .container {
      div {
        margin-bottom: 50px;
      }
    }
  }
  .skill {
    background-color: $bgNavy;
    .right > ul {
      width: 400px;
      display: flex;
      justify-content: space-between;
    }
    .right ul li ul li:first-child {
      margin-bottom: 15px;
      line-height: 1.4;
    }
    .right ul li ul li {
      line-height: 1.8;
    }
  }
  /*********--works--***********/
.works {
    ul {
      margin-top: 100px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
    li {
      width: 22%;
      margin-bottom: 100px;
    }
    li:last-child {
      margin-right: 0;
    }
    h2 {
      text-align: center;
      position: relative;
      z-index: 1;
    }
    a {
      margin-top: -35px;
      display: block;
    }
    @media screen and (max-width:1024px) {
      li {
        width: calc(50% - 20px);
      }
      li:nth-child(odd) {
        margin-right: 20px; 
      }
    }
  }
/*********--work-detail--***********/  
.work-detail {
    .first-content {
        height: 100vh;
        position: relative;
        display: flex;
        align-items: center;
        h1 {
            position: absolute;
            left: 0;
            right: 0;
            text-align: center;
        }
        p {
            width: 50%;
            margin: 0 auto;
        }
    }
    .second-content {
      padding: 150px 0;
      background-color: $bgNavy;
      .container {
          > ul {
            margin-bottom: 50px;
            display: flex;
            justify-content: space-between;
          }
          > ul > li:first-child {
            li {
              margin-bottom: 10px;
              color: $fontGray;
              font-size: 1.6rem;
            }
          }
          > ul > li:last-child {
            width: calc(81.9672131% - 20px);
            margin-left: 20px;
          }
        }
      }
  .third-content,
  .fourth-content{
    padding: 200px 0;
  }
  .fourth-content {
    background-color: $bgNavy;
  }
}